body
{
  margin : 0;
  user-select : none;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  top : 0;
  left : 0;
  bottom : 0;
  right : 0;
  position : absolute;
  overflow : hidden;
}


.photograb
{
  position : relative;
  width : 100%;
  height : 100%;  
}

.photograb-inner {
  position : absolute;
  white-space : nowrap; /* force input and output
                           next to eachother */
  top : 0;
  left : 0; 
}

.photograb-input,
.photograb-output
{
  top : 0;
  display : inline-block;
  position : relative;
}

.photograb-original,
.photograb-result
{
  display : block;
}

.photograb-input svg,
.photograb-output svg,
.photograb-original-mask
{
  display : block;
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
}

.photograb-original-mask
{
  opacity : 0.5;
  position : absolute;
  top : 0;
  left : 0;
}

.output-overlay,
.mask
{
  pointer-events : none;
}

.mark
{
  pointer-events : visiblePainted;
}

.photograb-input-controls
{
  position : absolute;
  top : 0;
  left : 0;
  z-index : 1;
}

.photograb-output-controls
{
  position : absolute;
  top : 0;
  right : 0;
}

@keyframes fadeOut
{
  0%
  {
    opacity : 1;
  }
  100%
  {
    opacity : 0.25;
  } 
}

.photograb-waiting
{
  animation-name: fadeOut;
  animation-duration: .75s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}


.photograb-foreground-brush,
.photograb-background-brush
{
  z-index : 1;
  width : 64px;
  height : 64px;
  position : absolute;
  top : 8px;
  border-radius : 32px;
  opacity : 0.25;
  transition : top 0.1s;
}

.photograb-foreground-brush
{
  background : limegreen;
  right : 76px;
}

.photograb-background-brush
{
  background : tomato;
  right : 4px;
}

.photograb-active-brush
{
  top : 4px;
  box-shadow: 4px 4px 4px #444444;
  opacity : 0.75;
}
