body
{
  margin : 0;
  user-select : none;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.photograb-input,
.photograb-output
{
  position : relative;
  width : 100%;
}

.photograb-input img,
.photograb-output img
{
  display : block;
}

.photograb-input svg,
.photograb-output svg
{
  display : block;
  position : absolute;
  top : 0;
  left : 0;
}

.input-mask
{
  opacity : 0.5;
  position : absolute;
  top : 0;
  left : 0;
}

.output-overlay,
.mask
{
  pointer-events : none;
}

